img{ width:200px;}

#differ{
 width:285px;   
    }

#all{
   display:flex; 
   justify-content:space-around;
    }
    
.morado{
    background-color:#890ec7 ;
   padding:45px;
   border:10px solid #890ec7 ;
 
    }
    
body{
  background-color:black; 

   border:10px inset #890ec7 ;
    }
    
#boton{
  background-color:#858585;       
  padding:20px;
  }

h3{
  color:white; 
  font-family: 'Montserrat', sans-serif;
    }
    
h1{
  text-align:center; 
font-family: 'Montserrat', sans-serif;
    }
    
h5{
  font-family: 'Montserrat', sans-serif;  
    }
    
button:hover { color: red; text-decoration: underline;}    
button:active { color:purple;} 
 
#no{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
    }
    
    
button {
  display: block;
  width: 150px;
  margin: auto;
  background-color:black;
  color:white;
  border:3px inset grey;
  border-radius:10px;
  font-family: 'Montserrat', sans-serif;
}    